<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>About TimerFreak</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
        <!-- Add this entire block inside your <head> section -->
        <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
        <link rel="manifest" href="/static/site.webmanifest"> <!-- Or /static/manifest.json -->
        <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <!-- Traditional favicon.ico (optional if you have many PNGs, but good for broad support) -->
        <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    
</head>
<body style="background-color: #00ffae">
    <h1 style="padding-left: 1rem;">TimerFreak</h1>
    <div class="about-text">
        
        <p>
            Ideal for <strong>workout routines</strong>, <strong>interval training</strong>, <strong>work or study sessions</strong>, <strong>kids activities</strong>, <strong>meditation sessions</strong>,  or any activity that requires a series of timed
            steps, TimerFreak helps you stay on track with visual and audio cues. 
            </p>
            <p>For feature requests, comments or questions, <a href="https://github.com/petmartino/timerfreak/issues/new/choose">contact me here</a>.  </p>
        <p>Code and details about this app at <a href="https://github.com/petmartino/timerfreak">GitHub</a>.
        </p>    <img src="/static/logotimerfreak.svg" height="100" />
        
        </div>
    {% include 'footer.html' %}
</body>

</html>