<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>About TimerFreak</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <style>
        body {
            padding: 1rem;
            line-height: 1.6;
        }

        h1 {
            font-size: 2em;
            margin-bottom: 0.5em;
        }

        p {
            margin-bottom: 1em;
        }

        .back-link {
            margin-top: 2em;
            display: block;
        }
    </style>
</head>

<body>
    <h1>About TimerFreak</h1>
    <p>
        TimerFreak is a simple yet powerful web application designed to help you manage timed sequences.
        Whether you're following a <strong>workout</strong> routine, <strong>practice, work or study sessions</strong>, <strong>m editation sessions</strong> a cooking recipe, or any activity that requires a series of timed
        steps,
        TimerFreak ensures you stay on track with visual progress bars and custom alarms for each segment.
    </p>
    <p>
        Easily create custom sequences with multiple timers, customize according to your needs, 
        It's built to be straightforward and effective, helping you focus on the task at hand without distractions. </p><p>Code at <a href="https://github.com/petmartino/timerfreak">https://github.com/petmartino/timerfreak</a>
        <br>
        
    </p>
    {% include 'footer.html' %}
</body>

</html>