<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>About TimerFreak</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    
</head>

<body>
    <div style="padding: .5rem 1rem">
        <h1>TimerFreak</h1>
        <p>
            Ideal for <strong>workout routines</strong>, <strong>work or study sessions</strong>, timing <strong>kids activities</strong>, <strong>meditation sessions</strong>,  or any activity that requires a series of timed
            steps, TimerFreak helps you stay on track with visual and audio cues. 
            </p>
            <p>For feature requests, comments or questions, <a href="https://github.com/petmartino/timerfreak/issues/new/choose">contact me here</a>.  </p>
        <p>Code and details about this app at <a href="https://github.com/petmartino/timerfreak">GitHub</a>.
            
        </p>
        </div>
    {% include 'footer.html' %}
</body>

</html>